// rwd
$pc-large-width: 1680px;
$pc-width: 1279.98px;
$pad-high-width: 1279.97px;
$pad-low-width: 1023.98px;
$mobile-high-width: 1023.97px;
$mobile-low-width: 768px;
$mobile-only-width: 767px;
$mobile-lowest-width: 360px;

@mixin pc-large-rwd() {
  @media screen and (min-width: $pc-large-width) {
    @content;
  }
}

@mixin pc-rwd() {
  @media screen and (min-width: $pc-width) {
    @content;
  }
}

@mixin hover-rwd() {
  @media screen and (min-width: $pad-low-width) {
    @content;
  }
}

@mixin pad-high-rwd() {
  @media screen and (max-width: $pad-high-width) and (min-width: $pad-low-width) {
    @content;
  }
}

@mixin pad-low-rwd() {
  @media screen and (min-width: $mobile-low-width) and (max-width: $mobile-high-width) {
    @content;
  }
}

@mixin mobile-rwd() {
  @media screen and (max-width: $mobile-high-width) {
    @content;
  }
}

@mixin mobile-only-rwd() {
  @media screen and (max-width: $mobile-only-width) {
    @content;
  }
}

@mixin lowest-rwd() {
  @media screen and (max-width: $mobile-lowest-width) {
    @content;
  }
}

@mixin portrait-rwd() {
  @media screen and (orientation: portrait) {
    @content;
  }
}

$lg-size:1920;
$md-size:1440;
$ms-size:1280;
$sm-size:375;

@function to-per($val) {
  @return ($val / $ms-size) * 100%;
}

@function to-per-mobile($val) {
  @return ($val / $sm-size) * 100%;
}

@function to-vw($val) {
  @return ($val / $ms-size) * 100vw;
}

@function to-vw-mobile($val) {
  @return ($val / $sm-size) * 100vw;
}

@function to-vh($val) {
  @return ($val / 768) * 100vh;
}
